/* esercizio 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background 2s;
}

.ex-1-square:hover {
  background-color: red;
}

/* esercizio 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s;
}

.ex-2-square:active {
  width: 100%;
}

/* esercizio 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1s;
}

.ex-3-square:hover {
  border-radius: 50%;
}

/* esercizio 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 1s;
}

.ex-4-square:hover {
  opacity: 0;
}

/* esercizio 5 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 1s;
}

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(0.5);
}

/* esercizio 6 */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
  filter: grayscale(1);
}

/* esercizio 7 */
.ex-7-img {
  transition: filter 2s;
}

.ex-7-img:hover {
  filter: grayscale(0.7) sepia(0.6);
}

/* esercizio 8 */
.ex-8-img {
  transition: all 2s;
}

.ex-8-img:hover {
  filter: grayscale(0.7) sepia(0.6);
  border-radius: 20px;
}

/* esercizio 9 */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img {
  transition: all 2s;
}

.ex-9-img:hover {
  filter: grayscale(0.7) sepia(0.6);
  border-radius: 20px;
  transform: scale(1.5);
}

/* esercizio 10 */
.ex-10-icon {
  font-size: 60px;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
      transform: rotate(360deg);
  }
}

/* esercizio 11 */
.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
  animation-name: rotate_2;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes rotate_2 {
  0% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* esercizio 12 */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white {
  animation-name: move_top;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.ex-12-button:hover .ex-12-bottom-white {
  animation-name: move_bottom;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes move_top {
  0% {
    left: 10%;
  }
  50% {
    left: calc(100% - 60px);
  }
  100% {
    left: 10%;
  }
}

@keyframes move_bottom {
  0% {
    right: 20%;
  }
  50% {
    right: calc(100% - 60px);
  }
  100% {
    right: 20%;
  }
}

/* esercizio 13 */
.ex-13-button:hover .ex-13-top-white {
  animation-name: move_top_2;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.ex-13-button:hover .ex-13-bottom-white {
  animation-name: move_bottom_2;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes move_top_2 {
  0% {
    left: 10%;
    top: -10px;
  }
  25% {
    left: 100%;
    top: -10px;
  }
  40% {
    left: 100%;
    top: calc(100% - 10px);
  }
  75% {
    left: -20px;
    top: calc(100% - 10px);
  }
  90% {
    left: -20px;
    top: -10px;
  }
  100% {
    left: 10%;
    top: -10px;
  }
}

@keyframes move_bottom_2 {
  0% {
    right: 20%;
    bottom: -10px;
  }
  25% {
    right: 100%;
    bottom: -10px;
  }
  40% {
    right: 100%;
    bottom: calc(100% - 10px);
  }
  75% {
    right: -20px;
    bottom: calc(100% - 10px);
  }
  90% {
    right: -20px;
    bottom: -10px;
  }
  100% {
    right: 20%;
    bottom: -10px;
  }
}
